.about{
  font-family: 'Roboto', sans-serif;
}
.about-background-parent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 62px;
  flex-shrink: 0;
}

/* Improving Lives Through Learning*/

.about-about,
.about-blog,
.about-careers,
.about-company,
.about-press {
  position: relative;
  line-height: 20px;
  font-weight: 550;
  color: #424242;
  display: inline-block;
}


.about-navigation-links-1,
.about-navigation-links-2,
.about-navigation-links-3,
.about-navigation-links-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.about-navigation-links {
  border-bottom: 2px solid #196c7e;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.about-navigation-links,
.about-navigation-links-1,
.about-navigation-links-2,
.about-navigation-links-3,
.about-navigation-links-4 {
  padding: 6px 20px;
}

.about-navigation-links-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 100%;
  font-size: 14px;
}

.about-heading-2 {
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-family: inherit;
  color: #333;
  flex-shrink: 0;
}

.about-learning-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 44px 0 47px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
}

.about-background {
  align-self: stretch;
  background-image: url("../../assets/background_about.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 20px 55px;
  box-sizing: border-box;
  position: relative;
  gap: 65px;
  min-height: 216px;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  color: #333;
}

/*Our Feature*/
.about-heading-22 {
  margin: 0;
  font-size: 22px;
  position: relative;
  line-height: 26px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 122px;
  color: #333;
}

.about-heading-2-our-features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.about-on-cursus {
  position: relative;
  line-height: 26px;
}

.about-line-wrapper {
  border-bottom: 2px solid #196c7e;
  width: 50px;
  padding-top: 20px;
}

.about-features-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  width: 600px;
}

.about-our-global-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  font-size: 16px;
  color: #686f7a;
}

.about-on-cursus-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  font-size: 16px;
  color: #686f7a;
}

.about-features-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
}

.about-feature-icons {
  height: 40px;
  width: 40px;
  position: relative;
  flex-shrink: 0;
  font-weight: bold;
  align-self: stretch;
}

.about-heading-4 {
  position: relative;
  line-height: 23.14px;
  font-weight: 550;
  display: inline-block;
  min-width: 125px;
  flex-shrink: 0;
  font-size: 16px;
}


.about-heading-4-wrapper, .about-icon-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.about-content {
  margin: 0;
}

.about-container {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #686f7a;
  flex-shrink: 0;
}

.about-feature-descriptions {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
}

.about-feature-descriptions,
.about-feature-items,
.about-feature-list {
  display: flex;
  align-items: flex-start;
}

.about-feature-items {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  min-width: 239px;
  max-width: 260px;
}

.about-feature-list {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
}

.about-features-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 41px;
  max-width: 100%;
  padding: 50px 0;
}

.about-features-content-wrapper,
.about-background-parent {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}

.about-features-content-wrapper {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
  text-align: center;
  font-size: 24px;
  height: auto;
  background-color: #f7f7f7;
}

/*Our Story*/

.about-heading-23 {
  margin: 0;
  position: relative;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 102.2px;
}

.about-line-story {
  border-bottom: 2px solid #196c7e;
  width: 50px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.about-heading-2-our-story {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.about-our-story-content {
  margin: 0;
}

.about-our-story-container {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #686f7a;
}

.about-story-content,
.about-story-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.about-story-wrapper {
  gap: 33px;
}

.about-story-content {
  padding: 0 0 46px;
  box-sizing: border-box;
  min-width: 573.9px;
  min-height: 313px;
  max-width: 100%;
  width: 600px;
}

.about-story-img {
  width: 435px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}

.about-our-story {
  align-self: stretch;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 62px 0;
  box-sizing: border-box;
  gap: 70px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 24px;
  color: #333;
  flex-wrap: wrap;
}

/*Our Global Reach*/

.about-content-our-global {
  margin: 0;
}

.about-container-our-global {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #686f7a;
  flex-shrink: 0;
}

.about-heading-5 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 125px;
  flex-shrink: 0;
  font-size: 38px;
  color: #333;
}

.about-heading-5-wrapper-our-global {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.about-feature-descriptions-our-global {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
  width: 150px;
}
.about-feature-items-our-global {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  max-width: 260px;
  width: 100px;
}

.about-feature-descriptions-our-global,
.about-feature-items-our-global,
.about-feature-list-our-global {
  display: flex;
  align-items: center;
}

.about-feature-list-our-global {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  font-size: 18px;
  min-width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
}

.about-features-content-wrapper-our-global {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
  text-align: center;
  font-size: 24px;
  height: auto;
  background-color: #f7f7f7;
}
/*Meet Our Team*/

.about-heading-6 {
  margin: 0;
  position: relative;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 122px;
  color: #333;
}

.about-heading-6-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.about-meet-container {
  position: relative;
  line-height: 26px;
}

.about-meet-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: #686f7a;
}

.about-line-wrappers {
  border-bottom: 2px solid #196c7e;
  width: 50px;
  padding-top: 20px;
}
.about-team-content {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.about-team-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  width: 560px;
}

.about-team-content {
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 2px;
}

.about-team-call-content {
  margin: 0;
}

.about-team-call-container {
  position: relative;
  line-height: 26px;
}

.about-button-join-our-team {
  display: flex;
  width: 130px;
  padding: 9px 18px 11px 19px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #F9BF4B;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.about-button-join-our-team:hover {
  background-color: #333;
}

.about-team-call-to-action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 34px;
  min-width: 570px;
  max-width: 100%;
}

.about-team-img {
  height: 240px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 650px;
}

.about-team-call-to-action-parent {
  width: 1179px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  color: #686f7a;
}

.about-meet-our-team {
  align-self: stretch;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 56px;
  flex-shrink: 0;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  color: #333;
  padding-top: 60px;
}

@media screen and (max-width: 1350px) {
  .about-team-call-to-action-parent {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1150px) {
  .about-features-content-wrapper {
    height: auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 900px) {
  .about-heading-5 {
    font-size: 34px;
    line-height: 16px;
  }

  .about-background-parent {
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  .about-feature-list,
  .about-features-content {
    gap: 20px;
    box-sizing: border-box;
  }

  .about {
    height: auto;
    box-sizing: border-box;
  }

  .about-team-call-to-action {
    gap: 17px;
    min-width: 100%;
  }

  .about-meet-our-team {
    gap: 28px;
    padding-top: 40px;
    box-sizing: border-box;
  }
  .about-story-wrapper {
    gap: 16px;
  }
}

@media screen and (max-width: 450px) {
  .about-heading-22,
  .about-heading-23,
  .about-heading-6 {
    font-size: 19px;
    line-height: 21px;
  }

  .about-heading-21 {
    font-size: 19px;
  }

  .about-heading-5 {
    font-size: 25px;
    line-height: 12px;
  }

  .about-team-img {
    min-width: 100%;
  }

  .about-our-story {
    gap: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-navigation-links-parent {
    flex-wrap: wrap;
  }

  .about-heading-2 {
    font-size: 19px;
    line-height: 24px;
  }

  .about-background {
    gap: 32px;
  }

  .about-feature-list-our-global{
    gap: 40px;
  }
}
