/* 
.login-container {
    position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;

  }
  .login-container::before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-image: url('https://gambolthemes.net/html-items/cursus-new-demo/images/sign.svg'); 
  background-size: cover;
  background-position: center;
  opacity: 0.06; 
  z-index: -1; 
  overflow: auto;
  }
  
  .login-form-container {
    background: white;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 580px;
  }
  
  .login-logo-container {
    margin-top: 300px;
    text-align: center;
    margin-bottom: 45px;
  }
  
  .login-logo {
    height: 30px;
  }
  
  h2 {
    margin: 0;
    margin-bottom: 20px;
  }
  
  p {
    color: #666;
    margin: 0;
    margin-bottom: 40px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .fb {
    background: #3b5998;
    color: white;
  }
  
  .x {
    background: #00acee;
    color: white;
  }
  
  .google {
    background: #34a853;
    color: white;
  }
  .btn-icon {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }
  
  .login-input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px; 
    color: #666;
  }
  
  .login-input-field {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input[type="checkbox"] {
    display: none;
}

.remember-me label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: rgb(21, 21, 21);
    font-size: 14px;
    user-select: none;
}

.remember-me label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
}

.remember-me input[type="checkbox"]:checked + label:before {
    border-color: red;
    background-color: rgb(255, 255, 255);
}

.remember-me label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 2px;
    height: 7px;
    border: solid red;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.remember-me input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

  .sign-in {
    background: #ff0000;
    color: white;
  }
  .sign-in:hover {
    background: rgb(21, 21, 21);
  }
  .forgot-password-link {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #666;
    text-decoration: none;
  }
  
  .forgot-password-link span {
    margin-right: 4px;
  }
  .forgot-password {
    color: #ff0000;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
    color: rgb(21, 21, 21)
  }
  
  .sign-up {
    margin-top: 20px;
    color: #666;
  }
  
  .sign-up a {
    color: #ff0000;
    text-decoration: none;
  }
  
  .sign-up a:hover {
    text-decoration: underline;
    color: rgb(21, 21, 21)
  }
  .form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  .footer-logo {
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .form-footer span {
    color: #000000;
    font-size: 14px;
  } 
   */
   .login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
}

.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://gambolthemes.net/html-items/cursus-new-demo/images/sign.svg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.06; 
    z-index: -1; 
}

.login-form-container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; 
    max-width: 580px;
}

.login-logo-container {
    margin-top: 140px;
    text-align: center;
    margin-bottom: 35px; 
}

.login-logo {
    height: 30px;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
}

.login-banner {
    color: #666;
    margin: 0;
    margin-bottom: 10px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 14px; 
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.fb {
    background: #3b5998;
    color: white;
}

.x {
    background: #00acee;
    color: white;
}

.google {
    background: #34a853;
    color: white;
}

.btn-icon {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.login-input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.login-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px; 
    color: #666;
}

.login-input-field {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input[type="checkbox"] {
    display: none;
}

.remember-me label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: rgb(21, 21, 21);
    font-size: 14px;
    user-select: none;
}

.remember-me label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
}

.remember-me input[type="checkbox"]:checked + label:before {
    border-color: red;
    background-color: rgb(255, 255, 255);
}

.remember-me label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 2px;
    height: 7px;
    border: solid red;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.remember-me input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.sign-in {
    background: #ff0000;
    color: white;
}

.sign-in:hover {
    background: rgb(21, 21, 21);
}

.forgot-password-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px; 
    color: #666;
    text-decoration: none;
}

.forgot-password-link span {
    margin-right: 4px;
}

.forgot-password {
    color: #ff0000;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    color: rgb(21, 21, 21)
}

.sign-up {
    margin-top: 10px; 
    color: #666;
}

.sign-up a {
    color: #ff0000;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
    color: rgb(21, 21, 21)
}

.form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px; 
    margin-bottom: 10px;
}

.footer-logo {
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.form-footer span {
    color: #000000;
    font-size: 14px;
}
