/* Thankyou.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper.coming_soon_wrapper {
    text-align: center;
    background-color: #121212;
    color: white;
    /* height: 100vh; */
    margin-left: 0;
    margin-top: 0;
    padding: 0 !important;
}

/* .container {
    background-color: #121212 !important;
    max-width: 1200px;
    
    margin: 0 auto;
} */

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.cmtk_group {
    width: 100%;
    padding: 180px 0;
}

.ct-logo {
    width: 100%;
    text-align: center;
}

.ct-logo img {
    width: 150px;
}

.cmtk_dt {
    padding: 180px 0;
    text-align: center;
}

.thnk_coming_title {
    font-size: 9em;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1em;
    text-shadow: 1px 10px 6px rgba(0, 0, 0, 0.2);
    /* Ensure this is the correct property */
    padding-bottom: 29px;
}

.thnk_title1 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 26px;
    margin-top: 0;
    text-shadow: 1px 10px 6px rgba(0, 0, 0, 0.2);
    /* Ensure this is the correct property */
}

.thnk_des {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 26px;
    text-shadow: 1px 10px 6px rgba(0, 0, 0, 0.2);
    /* Ensure this is the correct property */
    margin-top: 30px;
}

.thnk_des span {
    color: red;
}

.thnk_des a {
    color: red;
    text-decoration: none;
}

.thnk_des a:hover {
    text-decoration: underline;
}

.tc_footer_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #333;
    color: #fff;
}

.tc_footer_left ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tc_footer_left ul li {
    margin: 0 10px;
}

.tc_footer_left ul li a {
    color: #999;
    text-decoration: none;
}

.tc_footer_left ul li a:hover {
    text-decoration: underline;
}

.tc_footer_right p {
    color: #999;
}