.container {
  background: #f7f7f7;
  padding-left: 18%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: padding-left 0.4s;
  overflow-y: auto;
  min-height: calc(100vh - 70px); /* Adjust to ensure the footer is at the bottom */
}

.large-container {
  padding-left: 2%;
  position: absolute;
  min-height: calc(100vh - 70px); /* Adjust to ensure the footer is at the bottom */
}

@media (max-width: 900px) {
  .large-container,
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}