.Search_Result_Container {
    width: 100%;
    display: flex;
    padding: 0 370px 0 370px;
    flex-direction: column;
}

.Search_Result_Title {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.Small_SR_Title {
    justify-content: space-between;
    display: flex;
    width: 100%;

}

.Small_SR_Title_Left {
    display: flex;

}

.Small_SR_Title_Right {
    right: 370px;
    display: flex;
    position: absolute;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, .87);
    border: 0.5px solid lightgray;

}

.Small_SR_Title_Right input {

    height: 30px !important;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: none;


}

.Small_SR_Title_Right img {
    border-radius: 3px;
    margin-right: 10px;
}

.Main_Title {
    width: 100%;
    padding-bottom: 20px;
    display: inline;
}

.Main_Title h2 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 70px !important;
    color: #333;
    text-align: left;

}

.Search_Result_Body {
    display: flex;
    width: 100%;
    margin-top: 47px;
    margin-bottom: 5px;
    justify-content: space-between !important;
}

.SR_Left_Col {
    flex: 0 0 auto;
    width: 30%;
}

.Search_Result_Body_Left {
    display: flex;
    padding: 0px 0 15px;
    border-bottom: 1px solid #e5e5e5;

    margin-bottom: 0;
    float: left;
    width: 100%;
    flex-direction: column;
}

.SR_Filter_Sort_Container {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    display: flex;
}

.icon_tbl {
    position: absolute;
    left: 38%;
}

.SR_Sort {
    display: flex;
    align-items: center;
    /* padding: 12px; */
    width: 200px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.5s;
    position: absolute;
    left: 36%;
    cursor: pointer;
}

.Sort_Dropdown_Icon {
    width: 11.5px;
    height: 11.5px;
    user-select: none;
    margin-right: 15px;
}

.SR_Dropdown_Sort {
    display: inline-block;
}

.Sort_Menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 5;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.Sort_item {
    padding: 10px 20px;
    cursor: pointer;
}

.Sort_item:hover {
    background-color: #f1f1f1;
}

.SR_Right_Col {
    flex: 0 0 auto;
    width: 75%;
    width: 70%;
    padding-left: 60px;
}

.fcrse_1 {
    background: #fff;
    width: 100%;
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #efefef;
    transition: all .2s ease-in-out;
    display: inline-flex;
}

.hf_img {
    width: 50%;
    float: left;
    position: relative;
}

.hf_img img {
    width: 100%;
    border-radius: 3px;
}

.SR_Course_Overlay {
    position: absolute;
    top: 0;
    padding: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(transparent, rgba(51, 51, 51, .3) 90%);
}

.SR_badge_seller {
    border-radius: 3px;
    font-size: 10px;
    position: absolute;
    padding: 2px 10px;
    background: #fa8305;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    z-index: 2;
    vertical-align: baseline;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

.SR_crse_reviews {
    color: #fff;
    background: #fdcc0d;
    display: inline-block;
    padding: 3px 15px 3px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.SR_crse_timer {
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
    right: 0;
    margin-right: 10px;
    color: #fff;
    background: rgba(51, 51, 51, 0.8);
    display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.SR_play_btn1 {
    border: 0;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    border-radius: 100%;
    padding: 15px 13px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 40%;
    right: 40%;
    opacity: 0;
    background: rgba(51, 51, 51, 0.8);

}

.SR_Content {
    padding: 0px 15px 0px 20px;
    float: left;
    width: 70%;
    position: relative;
}

.More_Icon_DropDown {
    top: 5px;
    display: inline-block;
    position: absolute;
    right: 0;
}

.More_Icon_DropDown a {
    font-size: 20px;
    color: #afafaf !important;
}

.SR_Course_View {
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #686f7a;
    text-align: left;
    display: block;
}

.SR_Course_Title {
    display: block;
    font-size: 16px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: left;
    margin-bottom: 7px;
    line-height: 24px;
}

.SR_Course_Sub_Title {
    display: block;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #686f7a;
    text-align: left;
    padding-top: 2px;
}

.SR_Course_Cart {
    float: left;
    width: 100%;
    margin-top: 18px;
}

.SR_Course_Author {
    margin-bottom: 0;
    margin-top: 18px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    float: left;
    color: #686f7a;
    text-align: left;
    line-height: 24px;
}

.SR_Course_Price {
    float: right;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: right;
}

.SR_cart_btn {}

.MTSR30 {
    margin-top: 30px;
}

.SR_main_loader {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.MTSR50 {
    margin-top: 50px;
}

.SR_spinner {
    margin: 0 auto 0;
    width: 50px;
    text-align: center;
    height: 20px;
    border-radius: 100px;
    background-color: #fff;
    line-height: 20px;
    border: 1px solid #efefef;
    cursor: pointer;
}

.SR_spinner .SR_bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    background-color: #333;
}

.SR_spinner .SR_bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    background-color: #333;
    opacity: 0.702;
}

.SR_spinner .SR_bounce3 {
    -webkit-animation-delay: -0.12s;
    animation-delay: -0.12s;
    background-color: #333;
    opacity: 0.4;
}

.SR_spinner>div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    /* -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; */
}

.SR_Tbl_Content_Topic h4 {
    display: inline-block;
    /* Để các phần tử nằm trên cùng 1 hàng */
    margin-right: 10px;
    /* Khoảng cách giữa hai phần tử */
}

.SR_Tbl_Content_Topic h4:last-child {
    margin-right: 0;
    /* Loại bỏ khoảng cách bên phải của phần tử cuối cùng */
}

.SR_Tbl_Content_Topic h4:hover {
    cursor: pointer;
    /* Đổi con trỏ chuột khi di chuột qua */
}

.SR_Tbl_Content_Topic_Menu {
    display: none;
    /* Mặc định ẩn đi */
    position: absolute;
    /* Để menu hiển thị đúng vị trí */
    background-color: white;
    /* Nền trắng cho menu */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* Đổ bóng cho menu */
    z-index: 1;
    /* Độ cao lớp hiển thị của menu */
}

.SR_Tbl_Content_Topic:hover .SR_Tbl_Content_Topic_Menu {
    display: block;
    /* Hiển thị menu khi di chuột vào */
}

.Topic_item {
    padding: 12px 16px;
    /* Đệm nội dung của mỗi mục */
    text-decoration: none;
    /* Bỏ gạch chân cho các mục */
    display: block;
    /* Để mỗi mục nằm trên một hàng */
}

.Topic_item:hover {
    background-color: #f1f1f1;
    /* Nền xám nhạt khi di chuột qua mục */
    cursor: pointer;
    /* Đổi con trỏ chuột khi di chuột qua */
}

.Sort_Tbl {
    margin-top: 40px;
}