.MyCourse-nav-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Sắp xếp các nav-link tự động theo số lượng cột */
   
  }

  .MyCourse-selec-container {
    padding: 0px 63px;
}

.MyCouser-table-container{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Sử dụng grid auto-fit và minmax để tự động điều chỉnh cột */
  gap: 10px; /* Khoảng cách giữa các cột */
}


  
  .MyCourse-text-center {
    text-align: center; /* Căn giữa nội dung của các cột */
  }
  
  .table {
    width: 100%; /* Bảng có độ rộng 100% của phần container */
  }

  .MyCourse-nav-item a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 1px solid transparent;
  }
  
  .MyCourse-nav-item a:hover {
    background-color: #f0f0f0;
  }
  
  .MyCourse-nav-item a.active {
    background-color: #ed2a26;
    color: #fff;
    border-color: #007bff;
  }
  
  .MyCourse-nav-link {
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    background-color:white;
    border-radius: 5px;
}

table.table.ucp-table {
    margin-bottom: 0px;
}

.ucp-table {
    height: auto;
    overflow: hidden;
    border-radius: 4px;
}

.ucp-table thead {
    font-weight: 500;
    padding: 14px !important;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: #333 !important;
}


.ucp-table thead tr th:first-child {
    border-bottom-left-radius: 4px;
}

.ucp-table thead tr th {
    color: #333;
	font-size: 14px;
    background-color: #ffecec;
}

.ucp-table tfoot {
    font-weight: 500;
    padding: 14px !important;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: #333 !important;
}

.ucp-table tfoot td {
    color: #fff;
    font-size: 14px;
    background-color: #333;
	padding: .75rem !important;
}

.ucp-table.earning__table td {
	padding: 1rem !important;
}

table {
    margin: 0px auto 0px;
    font-size: 14px;
    width: 100%;
}

.ucp-table tbody {
    background: #fff;
}

.ucp-table td, .ucp-table th {
    border-top: 1px solid #efefef !important;
}

.ucp-table td {
    padding: 1.5rem .75rem !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.ucp-table th:first-child {
    border-top: 0 !important;
}

.ucp-table thead th {
    vertical-align: bottom;
    border-bottom: 0 !important;
}

.course_active {
    color: #ed2a26;
}

.ucp-table tbody tr td {
    font-size: 14px;
    vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}


.MyCourse-gray-s {
    font-size: 18px;
    color: #686f7a;
    margin-right: 5px;
}

.MyCourse-gray-s:last-child {
    margin-right: 0;
}

table.MyCourse-table.ucp-table {
    margin-bottom: 83px;
    margin-top: 45px;
}

a {
    color: #4183c4;
}

b.MyCourse-course_active {
    color: #ed2a26;
}