.Shopping-Container {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 16px;
    height: calc(100% - 40px);
    margin: auto;
    padding: 0px 165px 100px 305px;
    box-sizing: border-box;
    margin-top: 90px;
}

.Shopping-conten{
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    padding: 20px 0 0;
    background: #fff;
    margin-bottom: 17px;
    justify-items: left;
}

.Shopping-row{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-right: 403px;
}

img.shopping-close {
    width: 16px;
}
.Shopping-fcrse_1 {
    background: #fff;
    width: 100%;
	float: left;
    padding: 10px;
    border-radius: 3px;
	border: 1px solid #efefef;
	transition: all .2s ease-in-out;
    display: block;
}

.Shopping-fcrse_1 .shrt-cart-btn  {
    display: none;
}

.Shopping-fcrse_1:hover .Shopping-auth1lnkprce .shrt-cart-btn  {
    display: block;
	visibility: visible;
	opacity: 1;
	transition: all 0.5s ease;
}

.shrt-cart-btn:hover  {
	color: #ed2a26;
}

.Shopping-fcrse_1:hover  {
	transition: all 0.5s ease;
	 transform: translateY(-5px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.Shopping-hf_img {
	width: 30%;
	float: left;
	position: relative;
}

.Shopping-hf_img img {
    width: 100%;
    border-radius: 3px;
}

.Shopping-hs_content {
    padding: 0px 15px 0px 20px;
    float: left;
    width: 70%;
    position: relative;
}

.Shopping-crse14s {
	display: block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: left;
    margin-bottom: 7px;
    line-height: 24px;
    
}

.Shopping-crse-cate {
    display: block;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #686f7a;
    text-align: left;
	padding-top: 2px;
}

.Shopping-auth1lnkprce {
    float: left;
    width: 100%;
    margin-top: 18px;
}

.Shopping-cr1fot {
    margin-bottom: 0;
    margin-top: 18px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    float: left;
    color: #686f7a;
    text-align: left;
    line-height: 24px;
}

.Shopping-cr1fot a {
    color: #333;
    font-weight: 500;
}

.Shopping-cr1fot a:hover {
    color: #333 !important;
	text-decoration: underline !important;
}

.Shopping-prce142 {
    float: right;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: right;
}

.SS-Shopping-coupon_code p {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 20px 0px;
    float: left;
    width: 100%;
}

.SS-Shopping-code-apply-btn {
    height: 40px;
    padding: 0 20px;
    border: 0;
    color: #fff;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #ed2a26;
    cursor: pointer; /* Add cursor pointer for better UX */
}

.SS-Shopping-code-apply-btn:hover {
    background: #333;
}

.ui.SS-shopping.focus {
    position: relative; 
    display: inline-block; /* Ensure the container respects its content */
}

.ui.SS-left.icon.input.swdh11.swdh19 {
    display: inline-flex; 
}


.SS-srch_shopping {
    margin-bottom: 20px;
    padding: 11px 105px 11px 11px;
    width: 78%;
    background: #fff !important;
    border: 1px solid #e5e5e5 !important;
    color: #333 !important;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.02) !important;
}


.SS-input-container.flex-container {
    display: inline-flex;
}

.ui.SS-left.icon.input.swdh11.swdh19 {
    flex: 1;
}

.Shopping-code-apply-btn {
    margin-left: 10px; /* Adjust as needed for spacing */
}


.Shopping-chck-btn22{
    font-size: 14px;
    margin-top: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #fff !important;
    background: #ed2a26;
    border-radius: 3px;
    text-align: center;
    border: 0;
    width: 100%;
    float: left;
    height: 40px;
    padding: 10px 0;
}

.Shopping-chck-btn22:hover{
    background-color: #333;
}

.shopping-close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .shopping-close-button img {
    width: 20px;
    height: 20px;
  }
  
  .shopping-close-button:hover img {
    opacity: 0.7;
  }